@page "/"

@using Microsoft.AspNetCore.SignalR
@using Microsoft.AspNetCore.SignalR.Client
@using IFrameSignalR.Hubs

@inject IHubContext<AppHub> Hub
@inject NavigationManager NavigationManager


@if (!transactionComplete) {
	<iframe src="@("/iframe/" + hubConnection!.ConnectionId)" width="480" height="480">
	</iframe>
}
else if (status == "success") {
	<p>Transaction successful</p>
	<p>Confirmation Id: @confirmationId</p>
}
else {
	<p>Transaction failed</p>
}

@code {
	private HubConnection? hubConnection;
	private bool transactionComplete;
	private int confirmationId;
	private string? status;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.BaseUri + nameof(AppHub)).Build();
		await hubConnection.StartAsync();

		hubConnection.On("transactionComplete", async (string status, string? transactionId) => {
			transactionComplete = true;
			this.status = status;
			if (status == "success") {
				//כאן תשלוף מהדיבי את הטרנזקציה 
				//var transaction = db.Transactions.Find(transactionId);
				//confirmationId = transaction.ConfirmationId;
			}
			await InvokeAsync(StateHasChanged);
		});
	}
}