@page "/iframe/{ConnectionId}"

@layout Layout.EmptyLayout

@using Microsoft.AspNetCore.SignalR
@using Microsoft.AspNetCore.SignalR.Client
@using IFrameSignalR.Hubs

@inject IHubContext<AppHub> Hub
@inject NavigationManager NavigationManager

<button class="btn btn-primary" @onclick="Success">Success</button>
<button class="btn btn-primary" @onclick="Failure">Failure</button>

@code {
	[Parameter] public string? ConnectionId { get; set; }

	private HubConnection? hubConnection;

	protected override async Task OnParametersSetAsync()
	{
		if (ConnectionId == null) return;
		if (hubConnection != null) return;

		hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.BaseUri + nameof(AppHub)).Build();
		await hubConnection.StartAsync();
	}


	async Task Success()
	{
		var transactionId = Guid.NewGuid().ToString();
		await Hub.Clients.Client(ConnectionId!).SendAsync("transactionComplete", "success", transactionId);
	}

	async Task Failure()
	{
		await Hub.Clients.Client(ConnectionId!).SendAsync("transactionComplete", "fail", null	);
	}
}
